pillow==10.4.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
tqdm==4.67.1
easydict==1.13
opencv-python-headless==4.10.0.84
scipy
rembg
onnxruntime
trimesh
xatlas
pyvista
pymeshfix
igraph
spconv-cu124

# triton ( Windows specific builds from : https://github.com/woct0rdho/triton-windows )
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp312-cp312-win_amd64.whl;python_version=="3.12"
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp311-cp311-win_amd64.whl;python_version=="3.11"
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp310-cp310-win_amd64.whl;python_version=="3.10"
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp38-cp38-win_amd64.whl;python_version=="3.8"

# koalin ( CUDA 12.4 specific builds from : https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124.html )
# If you're not using CUDA 12.4, read official documentation at : https://kaolin.readthedocs.io/en/latest/notes/installation.html
https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124/kaolin-0.17.0-cp312-cp312-win_amd64.whl;python_version=="3.12"
https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124/kaolin-0.17.0-cp311-cp311-win_amd64.whl;python_version=="3.11"
https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124/kaolin-0.17.0-cp310-cp310-win_amd64.whl;python_version=="3.10"
https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124/kaolin-0.17.0-cp39-cp39-win_amd64.whl;python_version=="3.9"

# diff_gaussian_rasterization
git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git

# diffrp-nvdiffrast
diffrp-nvdiffrast
